# --- Front controller + security ---
php_value session.gc_maxlifetime 604800

RewriteEngine On
RewriteBase /~popovego/01/

RewriteRule ^(\.env|\.gitignore|phpdoc\.xml)$ - [F,NC,L]

RewriteRule ^app/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
